:root{
    --color1: #1F2936;
    --blue: #3782F5;
    --gray: #E4E5EB;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto-Bold.ttf);
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
    margin: 1rem;
    text-decoration: none;
}
a:visited{
    color: gray;
}

nav{
    background-color: var(--color1);
    overflow: auto;
    color: white;
    position: sticky;
    top: 0;
}

nav > h1{
    text-align: center;
    margin-bottom: 0.5em;
}

nav > div{
    justify-content: center;
    display: flex;
}

footer{
    background-color: var(--color1);
    color: white;
    text-align: center;
    padding: 2rem;
}

p{
    text-align: justify;
}